footer{
    font-family: "Roboto";
    /* background-color: #eee; */
    width: auto;
    height: auto;
    display: flex;
} 

footer>.footerContainer{
    width: 100vw;
    /* background-color: #424242; */
    background-color: #bdbdbd;   ;
    display: flex;
    flex-direction: column;
}

footer>.footerContainer>.footer{
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 20px 30px;
}

footer>.footerContainer>.footer>.box_text>h2{
    margin-bottom: 15px;
}

footer>.footerContainer>.footer>.box_text>h2 span:first-child{
    font-size: 20px;
    font-weight: 700;
    color: white;
}

footer>.footerContainer>.footer>.box_text>h2 span:last-child{
    font-size: 20px;
    font-weight: 900;
    color: #546e7a;
}

footer>.footerContainer>.footer>.box_text>p{
    color: white;
    margin-bottom: 15px;
}

footer>.footerContainer>.footer>.box_text>#call{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

footer>.footerContainer>.footer>.box_text>#email{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

footer>.footerContainer>.footer>.box_text>#call>span,
footer>.footerContainer>.footer>.box_text>#email>span{
    font-size: 14px;
}


footer>.footerContainer>.footer>.box_text img{
    width: 16px;
    margin-right: 10px;
}

footer>.footerContainer>.footer>.box_text #callNumber,
footer>.footerContainer>.footer>.box_text #emailAddress{
    color: white;
}

footer>.footerContainer>.footer>.box_text #social img:first-child{
    width: 20px;
    margin-bottom: -2.5px;
}

footer>.footerContainer>.footer>.box_contact{
    display: flex;
    flex-direction: column;   
}

footer>.footerContainer>.footer>.box_contact>h4{
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

footer>.footerContainer>.footer>.box_contact textarea{
    resize: none;
    margin: 5px 0;
    padding: 5px;
    border: none;
    border-radius: 2px;
    background-color: white ;
    opacity: 0.5;
}

footer>.footerContainer>.footer>.box_contact textarea:focus{
    outline: none;
}

footer>.footerContainer>.footer>.box_contact>#sendBtn{
    width: 50px;
    margin-left: auto;
    padding: 5px;
    background-color: #546e7a;
    border: none;
    border-radius: 2px;
    color: white;
    /* opacity: 0.8; */
    margin-top: 5px;
}

footer>.footerContainer>.footer>.box_contact>#sendBtn:focus{
    outline: none;
}

footer>.footerContainer>.footer>.box_contact>#sendBtn:hover{
    background-color: #607d8b ;
}

footer>.footerContainer>.footer>.box_contact>#sendBtn:active{
    background-color: #546e7a;
}

footer>.footerContainer>#line>hr{
    color: #eee;
    padding: 0 30px 0 30px;
    margin: 0;
}

footer>.footerContainer>.designed{
    background-color: #bdbdbd;
    /* background-color: #616161; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

footer>.footerContainer>.designed>h4{
    font-size: 15px;
    /* font-weight: 700; */
    color: white;
}

footer>.footerContainer>.designed>h4>span:first-child{
    color: white;
}

footer>.footerContainer>.designed>h4>span:last-child{
    color: #546e7a;
    font-weight: 900;
}