/* 방명록입니다 */

#guestbook_article{
    display: flex;
    padding: 94px 30px 30px 30px;
}

#guestbook{
    width:180px;
    height: 300px;
    margin-top: 15px;
    background-color: blanchedalmond;
    border: solid 1px tan;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(189, 161, 189);
}



#guestbook ul{
    margin: 0px 0 0 0px;
}

#guestbook li{
    margin-top: 15px;
    
}
#gName{
    color: rgb(143, 84, 8);
    font-size: 20px;
    margin: 0px 0 0 50px;
    padding: 20px 0 0 5px;
    
}

