body{
    position: relative;
    overflow: hidden;
}
.wrap{
    position: absolute;
    top: 0;
    transition: 0.5s;
}
#page1{
    position: absolute;
    background-color: teal;
    width: 100vw;
    height: 100vh;
}
#page2{
    position: absolute;
    background-color: cornflowerblue;
    width: 100vw;
    height: 100vh;
    top: 100vh;
}
#page3{
    position: absolute;
    background-color: tomato;
    width: 100vw;
    height: 100vh;
    top: 200vh;
}
.fix1{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    /* background-color: #eee; */
}

.fix1>img{
    width: 50px;
    height: 50px;
    transform: rotate(180deg);
}

.fix2{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    /* background-color: #eee; */
}
.fix2>img{
    width: 50px;
    height: 50px;
    z-index: 1;
}

