*{
    font-family: "Roboto";
    box-sizing: border-box;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 94px 30px 30px 30px;
}

.account{
    margin-top: 200px;
    width: auto;
    height: auto; 
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.account>p{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.button_google{
    width: 350px;
    height: 38px;
    background-color: #2196f3;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    transition: background-color 0.3s;
}

.button_google:hover{
    background-color: #1976d2;
}

.button_google:active{
    background-color: #2196f3;
}

.button_google>p{
    cursor: default;
}

.or{
    position: relative;
    margin-bottom: 40px;
}

.line{
    width: 350px;
    height: 2px;
    background-color: #eee;
}

.or>p{
    font-size: 16px;
    font-weight: 500;
    color: darkgray;
    background-color: white;
    position: absolute;
    top: -10px;
    left: 160px;
    padding: 0 10px 0 10px;
}

.input_id,
.input_password{
    margin-bottom: 20px;
}

.input_id>p,
.text_password p{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}

.input_id>input,
.input_password>input{
    width: 350px;
    height: 38px;
    background-color: #eee;
    border-radius: 8px;
    border: none;
}

.text_password{
    display: flex;
    justify-content: space-between;
}

.input_id>input:focus,
.input_password>input:focus{
    outline: none;
}

.button_signin{
    width: 350px;
    height: 38px;
    background-color: #ed4079;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.button_signin:hover{
    background-color: #e91e63;
}

.button_signin:active{
    background-color: #ed4079;
}

.button_signin>p{
    cursor: default;
}

.signup{
    display: flex;
    justify-content: center;
}

.signup>p,
.signup>a,
.text_password a{
    font-size: 14px;
}

.signup>a,
.text_password>a{
    text-decoration: none;
}
