*{
    font-family: "Roboto";
    box-sizing: border-box;
}

.section{
    display: flex;
    padding: 94px 30px 30px 30px;
    flex-direction: column;
}

.first{
    display: flex;
    width: auto;
    height: 800px;
    opacity: 0.8;
    transition: 1s;
}

.first>.box1{
    width: auto;
    height: auto;
    flex-grow: 1;
    background-color: tomato;
}

.first>.box2{
    width: auto;
    height: auto;
    flex-grow: 2;
    background-color: cornflowerblue;
}

.second{
    display: flex;
    width: auto;
    height: 600px;
    opacity: 0.5;
    transition: 1s;
}

.second>.box1{
    width: auto;
    height: auto;
    flex-grow: 2;
    background-color: cornflowerblue;
}

.second>.box2{
    width: auto;
    height: auto;
    flex-grow: 1;
    background-color: tomato;
}

@media (max-width: 1200px){

    .first{
        display: flex;
        width: auto;
        height: 600px;
        opacity: 0.8;
    }
    
    .first>.box1{
        width: auto;
        height: auto;
        flex-grow: 1;
        background-color: tomato;
    }
    
    .first>.box2{
        width: auto;
        height: auto;
        flex-grow: 2;
        background-color: cornflowerblue;
    }
    
    .second{
        display: flex;
        width: auto;
        height: 400px;
        opacity: 0.5;
    }
    
    .second>.box1{
        width: auto;
        height: auto;
        flex-grow: 2;
        background-color: cornflowerblue;
    }
    
    .second>.box2{
        width: auto;
        height: auto;
        flex-grow: 1;
        background-color: tomato;
    }

}

@media (max-width: 800px){

    .first{
        display: flex;
        width: auto;
        height: 450px;
        opacity: 0.8;
    }
    
    .first>.box1{
        width: auto;
        height: auto;
        flex-grow: 1;
        background-color: tomato;
        transition: 1s;
    }
    
    .first>.box2{
        width: auto;
        height: auto;
        flex-grow: 1;
        background-color: cornflowerblue;
        transition: 1s;
    }
    
    .second{
        display: flex;
        width: auto;
        height: 300px;
        opacity: 0.5;
    }
    
    .second>.box1{
        width: auto;
        height: auto;
        flex-grow: 1;
        background-color: cornflowerblue;
        transition-property: flex-grow;
        transition-duration: 1s;
    }
    
    .second>.box2{
        width: auto;
        height: auto;
        flex-grow: 1;
        background-color: tomato;
        transition-property: flex-grow;
        transition-duration: 1s;
    }

}

@media (max-width: 500px){

    .first{
        display: flex;
        flex-direction: column;
        width: auto;
        height: 450px;
        opacity: 0.8;
    }
    
    .first>.box1{
        width: auto;
        height: auto;
        flex-grow: 1;
        background-color: tomato;
    }
    
    .first>.box2{
        width: auto;
        height: auto;
        flex-grow: 2;
        background-color: cornflowerblue;
    }
    
    .second{
        display: flex;
        flex-direction: column;
        width: auto;
        height: 300px;
        opacity: 0.5;
    }
    
    .second>.box1{
        width: auto;
        height: auto;
        flex-grow: 2;
        background-color: cornflowerblue;
        order: 2;
    }
    
    .second>.box2{
        width: auto;
        height: auto;
        flex-grow: 1;
        background-color: tomato;
        order: 1;
    }

}