.wrap{

}

.header{
    background-color: hotpink;
    text-align:center;
    font-size:40px;
    height:60px;
}

.title{

}

.flex-container{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-around;
    /* margin-bottom:0px; */
}

.menu-bar{
    width:15%;
    height:750px;
    background-color:purple;
    /* margin-bottom:0px; */
}

.contents{
    width:85%;
    height:750px;
    background-color:blueviolet;
    /* margin-bottom:0px; */
}

.footer{
    background-color:crimson;
    height:60px;
    text-align:center;
    align-items:center;
}