.flex-container{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-around;
}

.header{
    background-color: hotpink;
    text-align:center;
    font-size:20px;
    height:60px;
}

.menu-bar{
    width:15%;
    height:750px;
    background-color:purple;
    /* margin-bottom:0px; */
}

.contents{
    width:85%;
    height:750px;
    background-color:blueviolet;
    /* margin-bottom:0px; */
}

.footer{
    border:1px solid black;
    background-color:crimson;
    height:100px;
    /* align-items: center; */
}

.footer>p{
    border:1px solid black;
    font-size:40px;
}