.flex-container{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-around;
}

.wrap{
    border:1px solid deeppink;
}

.header{
    border:1px solid deeppink;
    background-color: pink;
    text-align:center;
    vertical-align:center;
    font-family:"Single Day";
    font-size:40px;
    font-weight:bolder;
    color:black;
    height:auto;
    clear:right;
    padding:20px;
}

.menu{
    border:1px solid deeppink;
    background-color:pink;
    width:10%;
    height:750px;
    
}

.contents{
    border:1px solid deeppink;
    background-color:pink;
    width:90%;
    height:750px;
}

.footer{
    border:1px solid deeppink;
    background-color: pink;
    height:auto;
    text-align:center;
    vertical-align:center;
    font-size:30px;
    font-family:"Single Day";
    font-weight:bold;
}

a{
    text-decoration:none;
    color:inherit;
}

.menu.flex-container{
    flex-direction:column;
}

.menu.flex-container>div{
    font-size:30px;
    border:5px solid deeppink;
    text-align:center;
    vertical-align:center;
}