*{
    font-family: "Roboto";
}

#sidebar{
    position: fixed;
    top: 0;
    right: -421px;
    width: 420px;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 5px 1px #00000044;
    padding: 20px 30px 100px 30px;
    z-index: 3;
    /* opacity: 0.9; */
    transition: 0.5s;
}

#sidebar.open{
    right: 0;
}

#toggler2{
    margin-bottom: 70px;
    display: flex;
    justify-content: right;
}

.menus>a{
    font-size: 20px;
    font-weight: 700;
    color: black;
    display: block;
    margin-bottom: 50px;
    text-decoration: none;
    transition: opacity 0.3s;
}

.menus>a:hover{
    opacity: 0.5;
    cursor: default;
}

.menus>a:active{
    opacity: 1;
}

