.container{
    box-sizing:border-box;
    background-image:url("../images/backgroundImg.png");
    /* 아래와 같이 해주면 투명한 border에서 배경 이미지가 반복되어서 어색해지는 것을 막을 수 있다*/
    /* background-clip:padding-box; */
    /* 아래와 같은 해법도 있다. 사실 이 해법이 더 정공법이라고 할 수 있다 */
    background-origin:border-box;
    border:1px solid transparent;
    width:1150px;
    height:755px;
    margin:50px auto;
}
.cover{
    position:relative;
    background-color:lightsteelblue;
    margin-top:25px;
    margin-left:25px;
    box-sizing:border-box;
    width:900px;
    height:700px;
    padding:25px 25px;
    border-radius:20px;
    /* border:1px solid black; */
}
.sheet{
    background-color:white;
    box-sizing:border-box;
    width:850px;
    height:650px;
    border-radius:20px;
    /* border:1px solid black; */
}
.today{
    /* border:1px solid black; */
    box-sizing:border-box;
    width:200px;
    height:25px;
    float:left;
    font-size:15px;
    margin-left:30px;
    margin-top:15px;
    text-align:center;
    
}
.miniTitle{
    /* border:1px solid black; */
    box-sizing:border-box;
    width:400px;
    height:30px;
    float:left;
    font-size:20px;
    margin-left:70px;
    margin-top:10px;
    color:cornflowerblue;
    font-weight:bold;
}
.left-page{
    box-sizing:border-box;
    float:left;
    clear:left;
    margin-left:5px;
    margin-top:5px;
    /* border:1px solid black; */
    border-radius:20px;
    box-sizing:border-box;
    width:250px;
    height:600px;
    background-color:lightgrey;
}
.right-page{
    box-sizing:border-box;
    float:left;
    margin-left:5px;
    margin-top:5px;
    /* border:1px solid black; */
    border-radius:20px;
    box-sizing:border-box;
    width:585px;
    height:600px;
    background-color:lightgrey;
}
#today{
    color:red;
}
.miniMenu{
    position:relative;
    left:845px;
    bottom:600px;
}
.miniMenu li{
    background-color:skyblue;
    color:white;
    font-weight:bold;
    box-sizing:border-box;
    /* border:1px solid black; */
    margin-bottom:10px;
    list-style-type:none;
    width:80px;
    height:35px;
    text-align:center;
    padding-top:5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}
.miniMenu li:first-of-type{
    background-color:powderblue;
}
.miniMenu li:hover{
    background-color:steelblue;
    cursor:pointer;
}
.left-page-frame{
    width:225px;
    height:575px;
    margin-top:10px;
    margin-left:10px;
    border:none;
    /* border:1px solid black; */
}
.right-page-frame{
    width:560px;
    height:575px;
    margin-top:10px;
    margin-left:10px;
    border:none;
    /* border:1px solid black; */
}